<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cancel</title>
    <script>
      window.onload = function cancel() {
        var text = "You cancelled an order ";
        var name = localStorage.getItem("name");
        var sorry = document.createElement("h1");
        sorry.innerHTML = text + name;
        document.body.append(sorry);
      };
    </script>
  </head>
  <body></body>
</html>
